.sidebar {
  border-radius: 20px;
  height: 75vh;
  width: 300px;
  background-color: #52b69a;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Tsidebar {
  border-radius: 20px;
  height: 100vh;
  width: 300px;
  background-color: #52b69a;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  /* margin-top: -228px; */
}
.div2 {
  grid-area: 1 / 2 / 2 / 2;
  margin-left: -45%;
}
.ta-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}
.st-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}
.div3 {
  grid-area: 1 / 2 / 2 / 2;
  margin-left: -20%;
}
.div4 {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: -228px;
}
.assigment-det {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}
.div5 {
  grid-area: 1 / 2 / 2 / 2;
  margin-left: -45%;
  /* background-color: blanchedalmond; */
}
.div6 {
  grid-area: 1 / 2 / 2 / 2;
  margin-left: -45%;
}

.student-assignments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}
.div7 {
  grid-area: 1 / 1 / 2 / 2;
}
.div8 {
  grid-area: 1 / 2 / 2 / 2;
  margin-left: -45%;
  /* background-color: blanchedalmond; */
}
.ta-det {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}
.div9 {
  grid-area: 1 / 1 / 2 / 2;
}
.div10 {
  grid-area: 1 / 2 / 2 / 2;
  margin-left: -45%;
  /* background-color: blanchedalmond; */
}
.assignmen-st {
  background-color: #76c893;
  width: 35%;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  padding-bottom: 20px;
  /* height: 1000px; */
}
.assignment-det {
  background-color: aliceblue;

  margin-bottom: 8px;
  height: 20em;
  border-radius: 120px;
  width: 15em;
  align-items: center;
  justify-content: center;
  margin-left: 8.5em;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* display: flex; */
}
.Upload-as {
  background-color: #a2d2ff;
  height: 450px;
  align-items: center;
  justify-content: center;
  display: block;
  margin-top: 40px;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.form-group {
  text-align: center;
}
.assignment-det .p {
  font-size: larger;
}
.form-controls {
  height: 60px;
  width: 300px;
  border-radius: 80px;
  color: black;
  text-align: center;
  font-size: larger;
}
.form-control-file {
  height: 60px;
  /* width: 300px; */
  border-radius: 80px;
  color: black;
  text-align: center;
  font-size: larger;
}
.form-submit {
  height: 50px;
  width: 150px;
  background-color: #455e89;
  border-radius: 8px;
  color: white;
  font-size: medium;
}
/* .homepage {
  background-color: black;
  margin: 0;
} */
/* .body {
  background-color: black;
} */
.homepage-text {
  background-color: #fff;
  opacity: 0.5;
  color: black;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 610px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
}
